<!-- ================================================= -->
<!-- PURCHASE WORKFLOW -->
<!-- ================================================= -->

<div class="surface-card mt-4">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <div>

            <h4 class="fw-bold mb-1">
                Purchase Workflow
            </h4>

            <div class="text-secondary small">

                Current Stage :

                <strong>
                    {{ note.get_procurement_status_display }}
                </strong>

            </div>

        </div>

        <span class="badge bg-dark">

            {{ note.notesheet_no }}

        </span>

    </div>
